{% load static%}
  
<html lang="en">
    <head>
        <title> attestation de travail </title>
        <style>
            
        </style>
        
    </head>
    <body >
      <div>
          
        <h4 style="text-align: center;">REPUBLIQUE ALGERIENNE DEMOCRATIQUE ET POPULAIRE </h4>
        <h4>ministère de l'enseignement supérieur et de la recherche scientifique</h4>
        <h4>Université de SAAD DAHLAB BLIDA</h4>
        <h4>Faculté des Sciences</h4>
        <h4>Secrétariat général</h4>
        <h4>service des personnel</h4>
        <h4> blida en ........... </h4>
        <h2 style="text-align: center; margin-top: 5%;"> <b> Attestation du travail </b></h2>
        <bR>
        <br>
        
<h4 style="size: 40px;"><b>Le Doyen de la Faculté des Sciences de l'Université de Blida-01- certifie que :</b></h4>
<br>
<h4><b> Mr/Mme  :</b> {{post.Nom}} {{post.Prenom}}</h4> 
<br>
<h4><b>Date de naissance: </b>{{post.dateN}}</h4>
<br>
<h4><b> rang :</b> {{post.rang}}</h4>
<br>

<h6><b>categorie : </b>{{post.categorie}}</h4>
    <br>
  <H6>              L'ANCIENNE ÉCRITURE DU NOM ET PRÉNOM  :{{post.Nom}} {{post.Prenom}}</H6> 
  <br>
<h6> <b>Date de recrutement : </b>{{post.Date_de_recrutement}} À ce jour</h4>
<br>
<h6> <b> Cette attestation a été remis à la personne concernée de lui donner dans les limites autorisées par la loi </b></h4>
<br>
<br><br><br>
<br>
<br><br><br><br><br>
<h2 style="margin-left: 60%; text-decoration: underline; text-align: right;">Doyen</h2>
       
                                    



</div>
                  
            
    </body>
    </html>
