{% load static%}
  
<html lang="en">
    <head>
        <title>Extrait du tableau des promotions </title>
        
    </head>
    <body >
         <h2 style="text-align: center;" >La République Algérienne Démocratique et Populaire</h2>
         <h2>ministère de l'enseignement supérieur et de la recherche scientifique</h2>
         <h2>Université de SAAD DAHLAB BLIDA</h2>
         <h2>Faculté des Sciences</h2>
         <h2>Secrétariat général</h2>
         <h2>service des personnel</h2>
         <h1 style="text-align: center;">Extrait du tableau des promotions</h1>
         <Date class="a"></Date>
         <h1>Rang : {{post.rang}} </h1>     
         <h1>Categorie : {{post.categorie}}</h1>
         <h1>Numero minimum d'inférence : {{post.num_inférentiek_inf}}</h1> 
         <h1>Mr/Mme : {{post.Nom}} {{post.Prenom}}</h1> 
         <h1>Numero d'inférence : {{post.num_inférentiek_inf}}</h1> 
         
        
     
    
     
                 
                     
                          
                          
            
    </body>
    </html>
