{% load static%}
   <html lang="en">
    <head>
       <title>Ajouter un employe </title>
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-sxale=1 ">
        <link rel="stylesheet " href="{%static 'css/csshome.css'%}" type="text/css">
        <link rel="stylesheet " href="{%static 'css/ajouter.css'%}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-sxale=1 "> 


        
         
         
        
    
    </head>
    <body style="background-color: #f1f5f8;">
            <div class="sidebar">
                     <div class="sidebar-brand">
                           
                       </div>
                       <div class="sidebar-main"> 
                        <div class="sidebar-user"> 
                           <div style="margin-top: -15%; margin-bottom: 15%;"  ><h2> Gestion des Employee</h2> <i class="material-icons">&#xe8fa;</i></div>
                            <img src="..\static\image\profile.png"  alt="" > <!-- a modifier-->
                            <div class="sidebar-user"> 
                                <h3 > {{user.username}} </h3>  <!-- a modifier-->
                            </div>
                        </div>
                        <div class="sidebar-menu"> 
                            <div class="menu-head"> 
                                <span > fonctinalite </span> <!-- a modifier-->
                              
                            </div>
                             <ul>
                                 <li> <a href="{% url 'ajouter'%}"> 
                                          <i class="fas fa-plus"> ajouter un employer  </i>
                                     </a> 
                                 </li>
                                 <li> <a href="{% url 'consult'%}">
                                    <span class="fas fa-address-book"> consulter les  employes  </span>
                                     
                                    </a> </li>
                                    <li> <a href="{% url 'modetsupp'%}">
                                        <span class="fas fa-user-edit"> modifier ou supprimer  </span><!-- a modifier-->
                                              </a>
                                     </li>
                                     <li> <a href="{% url 'attestation'%}">
                                        <span class="far fa-file-alt"> Attestation du travail  </span><!-- a modifier-->
                                              </a>
                                     </li>
                                     <li> <a href="{% url 'email'%}">
                                        <span class="far fa-file-alt"> email </span><!-- a modifier-->
                                              </a>
                                     </li>
                             </ul>
                           

                             <div class="menu-head"> 
                                <span >Menu </span> <!-- a modifier-->
                              
                            </div>
                             <ul>
                                 <li> <a href="{% url 'home1'%}"> 
                                          <span class="fas fa-home"> Home </span> <!-- a modifier-->
                                     </a> 
                                 </li>

                                 <li> <a href="{% url 'supprimer'%}">
                                    <span class="las la-tools"> configuration  </span><!-- a modifier-->
                                          </a>
                                 </li>

                                 

                             </ul>
                        </div>
                       </div>
                       </div>
                       <div class="main-content"> </div>
                       <header class="header"> 
                        <div class="menu-toggle">
                          <label for=""> 
                              
                          </label>    
                        </div>
                        <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'index'%}"><span style="color: black;">déconnecter</span> </a><i class="fas fa-sign-out-alt"></i></button>
                          </div>

                       </header>
                           <main style="margin-left: 20%;">
                            {%if post%} <i> <b> <h1 style="margin-top: -5%; margin-left: 30%;">le resultat trouvee  </h1></b> </i>
                            <br>
                            <ul>
                            {%for i in post%}
                            <li> <h2><a href="{% url 'emp' i.id %}" >{{i.Nom}} {{i.Prenom}} </a> </h2></li>
                            {%endfor%}
                            {%else%}
                            <h1> nothing fond !</h1>
                            {%endif%}
                        </ul>
                        
                           </main>

   
         
                         
     
          
            
    </body>
    </html>

